@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #2563eb;
    /* Blue 600 */
    --primary-foreground: #ffffff;

    --secondary: #ec4899;
    /* Pink 500 */
    --secondary-foreground: #ffffff;

    --accent: #8b5cf6;
    /* Violet 500 */
    --accent-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;

        --primary: #3b82f6;
        /* Blue 500 */
        --secondary: #f472b6;
        /* Pink 400 */
        --accent: #a78bfa;
        /* Violet 400 */
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}